
p{
    color: rgb(255, 255, 255);
}
body{
    background-color:black;
}
a{
    color: blue;
}
h1{
    color: rgb(247, 247, 247);
}

.item1 { grid-area: header;color: rgb(255, 255, 255);font-weight: bold; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }

.grid-container {
    display: grid;
    grid-template-areas:
      'header header header header header header'
      'menu main main main right right'
      'menu footer footer footer footer footer';
    gap: 10px;
    background-color: #2097f8;
    padding: 15px;
  }
  
  .grid-container > div {
    background-color: rgb(0, 0, 0);
    text-align: left;
    padding: 20px 0;
    font-size: 30px;
  }
  .grid-container > .layout{
    background-color: rgb(0, 0, 0);
    text-align: left;
    padding: 20px 0;
    font-size: 30px;
  }

  .button {
    background-color: #3443c5; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
  }
  
  .button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
  }
  
  .button1:hover {
    background-color: #4CAF50;
    color: white;
  }
  
  .button2 {
    background-color: rgb(#2097f8); 
    color: black; 
    border: 2px solid #d0e613;
  }
  
  .button2:hover {
    background-color: #008CBA;
    color: white;
  }
  
  .button3 {
    background-color: white; 
    color: black; 
    border: 2px solid #f44336;
  }
  
  .button3:hover {
    background-color: #f44336;
    color: white;
  }
  
  .button4 {
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
  }
  
  .button4:hover {background-color: #e7e7e7;}
  
  .button5 {
    background-color: white;
    color: black;
    border: 2px solid #555555;
  }
  
  .button5:hover {
    background-color: #555555;
    color: white;
  }