
p{
    color: rgb(255, 255, 255);
}
body{
    background-color:black;
}
a{
    color: blue;
}
h1{
    color: rgb(247, 247, 247);
}

.item1 { grid-area: header;color: rgb(255, 255, 255);font-weight: bold; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }

.grid-container {
    display: grid;
    grid-template-areas:
      'header header header header header header'
      'menu main main main right right'
      'menu footer footer footer footer footer';
    gap: 10px;
    background-color: #2196F3;
    padding: 10px;
  }
  
  .grid-container > div {
    background-color: rgb(0, 0, 0);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }
  .grid-container > .acesso{
    background-color: rgb(0, 0, 0);
    text-align: left;
    padding: 20px 0;
    font-size: 30px;
  }